@{
    ViewBag.Title = "Home Page for Garage2";
}

<div class="well">
    
    <h2 align="center">Welcome</h2><br /><br />
    <h2 align="center">GARAGE2</h2><br /><br />
    <h2 align="center">Application</h2>

</div>

